<!DOCTYPE html>
<html>
<head>
	<title> < Co /> gather</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	<script src = "/js/socket.io.min.js"> </script>
	<script src= "/js/jquery-3.2.0.min.js"></script>
	<script src= "/js/highlight.pack.js"></script>
	<script> hljs.initHighlightingOnLoad();</script>
	<script src = "/js/socket.io.min.js"> </script>
</head>
<body>
	<div class="header"> 
		<img src="/images/logo.png" height="30px" style="float: left">.
		<button class = "videoCall"> <img src = "/images/video.svg"> </button>
		<button class = "downloadFile"> <img src = "/images/download.svg"> </button>
	</div>
	<div class = "videoCont withoutVideo">

	</div>
	<div class = "cont withoutVideo">
		<div class="htm">
			<div class="tag">HTML</div>
			<textarea class="html"></textarea>
		</div>
		<div class="cs">
			<div class="tag">CSS</div>
			<textarea class="css"></textarea>
		</div>
		<div class="j">
			<div class="tag">JavaScript</div>
			<textarea class="js"></textarea>
		</div>
	</div>

	
	<iframe class="output"></iframe>
	<script src = "/js/main.js"> </script>
	<script src = "/js/video.js"> </script>
</body>
</html>