<!DOCTYPE html>
<html>
<head>
	<title> < Co /> gather</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/default.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
	<script src = "/js/socket.io.min.js"> </script>
	<script src= "/js/jquery-3.2.0.min.js"></script>
	<script src= "/js/highlight.pack.js"></script>
	<script> hljs.initHighlightingOnLoad();</script>
	<script src = "/js/socket.io.min.js"> </script>
</head>
<body>
	<header> 
		<a href="/"><img src="/images/logo.png" height="30px" style="float: left"></a>.
		<button class = "videoCall"> <img src = "/images/video.svg"> </button>
		<button class = "downloadFile"> <img src = "/images/download.svg"> </button>
	</header>
	
	<div class = "videoCont withoutVideo"></div>

	<div class = "cont withoutVideo">
		<div class="htm">
			<div class="tag">HTML</div>
			<textarea class="html"></textarea>
		</div>
		<div class="cs">
			<div class="tag">CSS</div>
			<textarea class="css"></textarea>
		</div>
		<div class="j">
			<div class="tag">JS</div>
			<textarea class="js"></textarea>
		</div>
	</div>

	<div class="head">Your Output</div>
	<hr/>
	<iframe class="output"></iframe>
	<footer> &copy; 2018, All rights reserved<br> Made with <span style="color: #f00;">&#9829;</span> in Hackathon</footer>
	<script src = "/js/main.js"> </script>
	<script src = "/js/video.js"> </script>
</body>
</html>