
<!DOCTYPE html>
<html>
<head>
	<title> <Co/>Gather</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/jquery-3.2.0.min.js"></script>
</head>
<body onload="show()">

<div class="about init">

	<div>	
		This Project is made to code in Real-Time. You can Write code together and can gather(That's why &lt;code/&gt;gather) it in somewhere in your computer directory. 
		<br> You can have video chat during coding and share your ideas.
	</div>
</div>

<div class="header">
	<img src="/images/logo.png" style="float: left; margin: 10px 10px" height="50px">
</div>

<div class="cube">
  <div class="top"></div>
  <div class="right"></div>
  <div class="bottom"></div>
  <div class="left"></div>
  <div class="back"></div>
  <div class="front"></div>
</div>


<div class="footer">
	<center><a href="/createnewlink" id="mybutton"> Create New &lt;co/&gt;gather </a></center>
</div>


<script type="text/javascript">
	
$(function(){
  $(window).mousemove(function(e){
    $('.cube').css('transform', 'rotateX(' + - e.pageY + 'deg)' + 'rotateY(' + e.pageX + 'deg)');
  });

  $(window).mousemove(function(f){
    $('body').css('background-color', (f.pageX + f.pageY)%255 );
  });


})


function show(){
	document.getElementsByClassName('about')[0].className = "about final";
}

setTimeout(show, 1500 );

$(document).ready(function () {
   getRandomColor();
   RandomMouseMoveColor();
});

function getRandomColor() {
 document.body.style.background = "#"+((1<<24)*Math.random()|0).toString(16);
}

function RandomMouseMoveColor() {
var $win = $(window),
    w = 0,h = 0,
    rgb = [],
    getWidth = function() {
        w = $win.width();
        h = $win.height();
    };

$win.resize(getWidth).mousemove(function(e) {

    rgb = [
        Math.round(e.pageX/w * 255),
        Math.round(e.pageY/h * 255),
        150
    ];

    $(document.body).css('background','rgb('+rgb.join(',')+')');

}).resize();
}


</script>

</body>
</html>
