
<!DOCTYPE html>
<html>
<head>
	<title> <Co/>Gather</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/jquery-3.2.0.min.js"></script>
</head>
<body onload="show()">

<div class="wrapper">
  <header>
  	<img src="images/logo.png">
    <a href="https://github.com/PAVBAN95/cogather" target="blank"><img src="images/gh.png" class="right"></a>
  </header>

  <div class="create">
  	<a href="/createnewlink"> Create New &lt;co/&gt;gather </a>
  </div>

  <div class="about">
      <div class="head"> About App</div>
      <p>This Project is made to code with your people sitting at different places. You can Write code together and can Gather it at some place (That's why &lt;code/&gt;gather) in somewhere in your computer directory. 
      <br> You can do video chatting during coding and share your idea and can discuss problems.</p>
  </div>

  <footer> &copy; 2018, All rights reserved<br> Made with <span style="color: #f00;">&#9829;</span> in Hackathon</footer>
</div>  



</body>
</html>
