
<!DOCTYPE html>
<html>
<head>
	<title> <Co/>Gather</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="/js/jquery-3.2.0.min.js"></script>
</head>
<body onload="show()">

<div class="about init">
	
	This Project is made to code in Real-Time. You can Write code together and can gather(That's why &lt;code/&gt;gather) it in somewhere in your computer directory. 
	<br> You can have video chat during coding and share your ideas.
</div>

<div class="header">
	<img src="/images/logo.png" style="float: left; margin: 10px 10px" height="50px">
</div>

<div class="cube">
  <div class="top"></div>
  <div class="right"></div>
  <div class="bottom"></div>
  <div class="left"></div>
  <div class="back"></div>
  <div class="front"></div>
</div>


<div class="footer">
	<center><a href="/createnewlink" id="mybutton"> Create New Code </a></center>
</div>


<script type="text/javascript">
	
$(function(){
  $(window).mousemove(function(e){
    $('.cube').css('transform', 'rotateX(' + - e.pageY + 'deg)' + 'rotateY(' + e.pageX + 'deg)');
  }); 
})


function show(){
	document.getElementsByClassName('about')[0].className = "about final";
}

setTimeout(show, 1500 );

</script>

</body>
</html>